{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <title>Bug Tracker</title>
  </head>
  <body>
    <link rel="stylesheet" href="{% static 'bug.css' %}">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="/" class="navbar-item title is-3"> 🪳 BUGTRACKER </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navLinks">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navLinks">
        <div class="navbar-end">
          <div class="buttons">
            <a href="/file" class="navbar-item button is-primary">
              <strong>File Ticket</strong>
            </a>
            <a href="/logout" class="navbar-item button is-outlined">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="columns is-mobile is-centered">
      <div class="column is-half">{% block content %} {% endblock %}</div>
    </div>

    <!-- CITE: https://bulma.io/documentation/components/navbar/ -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach((el) => {
            el.addEventListener("click", () => {
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    </script>
  </body>
</html>
