{% extends 'base.html' %} {% block content %} {% load static %}

<body>
<link rel="stylesheet" href="{% static 'bug.css' %}">

<h2 class="title">{{title}}</h2>
<section class="section">
  <form action="" method="POST">
    {% csrf_token %} {% for field in form %}
    <div class="field">
      <div class="control">
        <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label>
        {{ field }}
      </div>
    </div>
    {% endfor %}
    <input type="submit" value="Submit" class="button is-primary" />
    {% endblock %}
  </form>
</section>
</body>